.stock-chart-line-wrapper {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

.dx-line {
  stroke: blue;
  color: blue;
}

.stock-chart-line-wrapper svg text {
  font-size: 12px;
  fill: #666;
}

.stock-chart-line-wrapper svg g text[text-anchor="middle"] {
  transform: translateY(8px);
}

.stock-chart-line-wrapper svg g text[text-anchor="end"] {
  transform: translateX(-8px);
}

.stock-chart-line-wrapper svg g > text {
  transform: translateY(5px);
}
